<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myController">
    <input type="text" ng-model="a">
    <input type="text" ng-model="b">
    <p>{{getResult()}}</p>
    <script src="../libs/angular.js"></script>
    <script>
        var myApp = angular.module('myApp',[]);
        myApp.controller('myController',['$scope',function($scope){
            $scope.a = 0;
            $scope.b = 0;
            $scope.getResult = function(){
                return Number($scope.a) + Number($scope.b);
            }
            $scope.$watch('getResult()',function(prev,now){
                console.log(prev,now);
                console.log('==============');
            });
        }]);
    </script>
</body>
</html>